/* RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: darkslateblue;
}

#container {
    max-width: 80%;
    margin: 0 auto;
    padding-top: 45vh;
    text-align: center;
    color: white;
}

h1 {
    margin-top: 30px;
}