/* RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: darkslateblue;
    position: relative;
}

#container {
    max-width: 80%;
    margin: 0 auto;
    padding-top: 20vh;
    text-align: center;
    color: white;
}

h1 {
    margin: 40px 0;
}

img {
    width: 200px;
    margin-top: 40px;
}

input {
    margin-left: 20px;
}