<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Hello Vue!</title>
        <link rel="stylesheet" href="css/style.css">
        <!-- development version, includes helpful console warnings -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    </head>
    <body>

        <!-- do un id all'elemento che voglio collegare ad 'app' per agganciarlo attraverso la CHIAVE 'el' -->
        <div id="container">

            <label>Inserisci del testo</label>

            <!-- do un attributo 'v-model="CHIAVE"' all'elemento collegato ad 'app'. Il contenuto sarà il VALORE  della CHIAVE 'message' -->
            <input class="title" v-model="message"></input>

            <!-- posso prendere il VALORE della CHIAVE 'message' anche soltanto attraverso la sintassi con i doppi baffi -->
            <h1>{{message}}</h1>

            <label>Inserisci URL di un'immagine</label>

            <input class="image" v-model="img"></input>

            <div>
            <!-- con la DIRETTIVA 'v-bind' (v-bind:ATTRIBUTO="VARIABILE IN DATA") posso aggiungere ATTRIBUTI agli elementi HTML -->
            <img v-bind:src="img" alt="">
            <!-- forma contratta = ':ATTRIBUTO="VARIABILE IN DATA"' -->
            </div>

        </div>

        <script src="js/main.js"></script>
    </body>
</html>